APP_ENV={{ app_env }}
APP_KEY=
APP_DEBUG={{ app_debug }}
APP_LOG_LEVEL={{ app_log_level }}
APP_URL={{ app_url }}

DB_CONNECTION="pgsql"
DB_HOST="localhost"
DB_PORT={{ postgresql_port }}
DB_DATABASE={{vhosts[0].db}}
DB_USERNAME={{ postgresql_dbuser }}
DB_PASSWORD={{ postgresql_dbpass }}

CACHE_DRIVER={{ cache_driver }}
SESSION_DRIVER={{ session_driver }}
QUEUE_DRIVER={{ queue_driver }}

REDIS_HOST="127.0.0.1"
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER={{ mail_driver }}
MAIL_HOST={{ mail_host }}
MAIL_PORT={{ mail_port }}
MAIL_USERNAME={{ mail_username }}
MAIL_PASSWORD={{ mail_password }}
MAIL_ENCRYPTION={{ mail_encryption }}

PUSHER_KEY=
PUSHER_SECRET=
PUSHER_APP_ID=