.image {
    max-width: 100%;
}
body {
    background-color: white;
    font-family: Verdana;
}
.left-block {
    left: 0px;
    margin: 0;
    border: 0;
    padding: 0px;
    width: 50%;
    float: left;
    display: inline-flex;
    position: absolute;
}
.right-block {
    right: 10px;
    margin: 0;
    border: 0;
    padding: 10px;
    width: 50%;
    float: right;
    display: inline-flex;
    position: relative;
}
.my-font {
    font-family: "Comic Sans MS", cursive;
}
.specwell {
    position: relative;
}
.my-dropdown {
    position: absolute;
    right: 20px;
    top: 40px;
}
.my-menu {
    left: -140px;
}
.name {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #5e5e5e;
}
.my-well{
    text-align: center;
}
.status{
    font-family: "Comic Sans MS", cursive;
}
.filter{
    float: right;
    position: relative;
}
.navbar-center{
    left: 100px;
}