[program:laravel-queue-worker]
process_name=%(program_name)s_%(process_num)02d
command=php {{ www_dir }}/artisan queue:work database --tries=10 --timeout=600
autostart=true
autorestart=true
user=root
numprocs=8
redirect_stderr=true
stdout_logfile={{ www_dir }}/storage/logs/queue.log